* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #555555;
  min-width: 320px;
}

/* font-family: 'Montserrat', sans-serif; */

button {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
  padding-top: 40px;
  padding-bottom: 260px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../img/header/header-bg.jpg") no-repeat center;

  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 255px;
}

/* ============== menu ============== */

.menu {
  font-size: 0;
}

.menu__item {
  display: inline-block;
  font-size: 16px;
}
.menu__item:not(:last-child) {
  margin-right: 32px;
}

.nav a {
  color: rgb(255, 255, 255);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
}

.menu__item__link {
  font-size: 14px;
  line-height: 1.714;
}

/* ================ header content ============ */

.title {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.header-text {
  margin-bottom: 52px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.btn {
  margin: 0 auto;
  padding: 9px 31px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 24px;
  border: 2px #fff solid;
  border-radius: 2px;
  max-width: 250px;
  transition: 0.3s all linear;
}
.btn:hover {
  background-color: #fff;
  color: #c0301c;
}

/* ================ Services ============ */

.services {
  padding: 98px 0 60px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.subtitle::after {
  content: "";
  display: block;
  margin: 28px auto 0;
  background-color: rgb(85, 85, 85);
  width: 50px;
  height: 2px;
}

.text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 70px;
}

.list-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-services__item::before {
  content: "";
  display: block;
  width: 86px;
  height: 86px;
  margin: 0 auto 24px;
  border-radius: 50%;
  border: 2px solid rgb(221, 221, 221);
  background-size: contain;
}
.typography::before {
  background: #c0301c url("../img/services/fa-font.png") no-repeat center;
}
.code::before {
  background: #fff url("../img/services/fa-code.png") no-repeat center;
}
.expert::before {
  background: #fff url("../img/services/fa-support.png") no-repeat center;
}

.list-services__item {
  width: 100%;
  min-width: 280px;
  max-width: 365px;
  text-align: center;
  margin-bottom: 35px;
}

.list-title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
}

/* ================ Services ============ */
.about-us {
  padding-top: 98px;
  background-color: #f8f8f8;
}

.about-us__info {
  margin-bottom: 70px;
}

.about-us__info-text {
  line-height: 24px;
}

.about-us__info-text:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about-us__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us__info-text {
    max-width: 50%;
  }

  .about-us__info-text:nth-child(odd) {
    padding-right: 15px;
  }

  .about-us__info-text:nth-child(even) {
    padding-left: 15px;
  }
  .about-us__info-text:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1140px) {
  .list-services {
    justify-content: space-between;
  }
}
